MONGO_URI=mongodb+srv://sonukumarsuman365_db_user:oRk2lCJeFMncwM8x@cluster0.839sxup.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_secret
MAIN_NODE_PORT=4000
SENDER_NODE_PORT=4001
RECEIVER_NODE_PORT=4002
TLS_KEY_PATH=./certs/localhost-key.pem
TLS_CERT_PATH=./certs/localhost-cert.pem
NODE_TYPE=sender
NODE_ID=SENDER-NODE-1
MAIN_NODE_URL=https://localhost:4000
ACCESS_TOKEN_TTL=10m
FILE_TTL_MS=120000
MAX_FILE_BYTES=1048576
